body {
    background-color: #88abff;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    display:flex;
    justify-content: center;
    height: 70vh auto;
    align-content: center;
    padding-top: 70px;
}
.title p{
    color:gray;
}
.container{
    display: inline-block;
    text-align: center;
    background: white;
    padding-top: 70px;
    transition: 0.3s;
}
.container:hover{
    box-shadow: 12px 13px 14px rgba(0, 0, 0, 0.1);
}
@media(max-width: 700px){
    .title p{
        font-size: 20px;
    }
@media(max-width: 700px){
    .title h1{
        font-size: 20px;
    }
    header {
    text-align: center;
}

#messages{
    padding-bottom: 30%;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    background: gray;
    opacity: 0.6;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 12cm;
}

li span {
    font-weight: bolder;
    color: black;
}

#chat {
    display: flex;
    width: auto;
    align-content: center;
    justify-content: center;
}
#message-form {
    text-align: center;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

input {
    width: 70%;
    height: 30px;
    border: none;
    background: black;
    color: white;
    opacity: 0.7;
}

button {
    display:inline-block;
    border: none;
    background: black;
    width: 12cm;
    color: white;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;

}
.sent {
    text-align: center;
    border: none;
    background-color: #88abff;
}
.sent span {
    color: black;
    text-align: center;
    border: none;
}
